body{
    background-color:lightslategray;
}
.fa-instagram{
    color:rgb(241, 122, 122);
    border: 3px solid rgb(79, 97, 91);
    border-radius: 20px;
    padding:10px;
}
.fa-whatsapp{
    color:green;
    border: 3px solid rgb(79, 97, 91);
    border-radius: 20px;
    padding:10px;
}
.fa-facebook{
    color:blue;
    border: 3px solid rgb(79, 97, 91);
    border-radius: 20px;
    padding:10px;
}
.fa-twitter{
    color:skyblue;
    border: 3px solid rgb(79, 97, 91);
    border-radius: 20px;
    padding:10px;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



span{
    font-size: 14px;
}
a{
    border-bottom: 1px solid blue;
}
.box-part{
    background-color: white;
    padding: 50px 20px;
    margin: 30px 0px;
}
.box{
    padding:60px 0px;
}
.text{
    margin: 20px 1px;
}
